<div class="" style="background-color: black; width: 100;">
    <div class="container-fluid home">
        <h1 class="heading">Game Of Thrones</h1>
    
        <p class="">Nine noble families wage war against each other in order to gain control over the mythical
            land of Westeros. Meanwhile, a force is rising after millenniums and threatens the existence of living men.
        </p>
    
    
    <div style="">
        <h3 class="heading">Who’s behind the scenes?
        </h3>
        <p> Martin and Ryan Condal (Colony, Hercules) will serve as co-creators on the series.</p>
        <br>
        <p> Miguel Sapochnik and Condal will be showrunners, and the pair will also serve as executive producers along
          with Martin, Vince Gerardis, Sara Lee Hess and Ron Schmidt.
          Sapochnik, whose directing credits include six Game of Thrones episodes, won Emmy and DGA honors for “Battle of
          the Bastards.” He was nominated for another Emmy in 2019 for directing “The Long Night” and won the Emmy for
          Best Drama Series as an executive producer for the final season.</p>
        <br>
        <p>Clare Kilner (The Alienist: Angel of Darkness, The Wedding Date) and Geeta V. Patel (Meet the Patels, The
          Witcher) will also direct the series. Greg Yaitanes (Banshee, House) is director and co-executive producer.</p>
        <br>
        <p>Game of Thrones and Westworld composer Ramin Djawadi will score the series.</p>
      </div>      
    </div>    
</div>